*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-size: 16px;
}

.nav-link{
    padding:0;
    font-size:1rem;
}
.navbar{
    width:100%;
    // position:fixed;
    top:0;
    z-index :5;
}
.cart{
    position: relative;
}
.margintop{
    margin-top: 80px;
}
.cartcount{
    // background-color: white;
    font-size: x-large;
    padding: 0px 3px;
    border-radius: 50%;
    color:white;
    top: -15px;
    right: -25px;
    position: absolute;
}
// .addToBag{
//     // transform:translate(100%,100%)
//     position:absolute;
//     color:rgb(252, 248, 248);
//     background-color: lightseagreen;
//     bottom:97px;
//     right:0;
//     outline:none;
//     border:none;
//     padding:4px;
//     border-radius: 5px 0 0 0;
//     width:100%;
//     transform :translate(0,400%);
//     transition:.5s;
// }

// .card div{
//     overflow:hidden;
// }

.card{
    // height:400px;
    // width :300px;
    overflow:hidden;
    &:hover{
        box-shadow: 0 0 8px 2px  ;
        transition: .5s;
    }
}
// .card div:hover .addToBag{
//     transform : translate(0,0)
// }

// .card:hover .btn{
//     // display:inline-block;
// }

// .card-img-top{
//     object-fit:fill;
// }
// .card-img-top{
//     transition: transform 1s;
//     overflow:hidden;
//     &:hover{
//         overflow:hidden;
//         transform: scale(1.1);
        
//     }
// }


//filter 


  
  .dropdown {
    position: relative;
    float :left;
    margin-left: 20px;
    cursor:pointer;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 150%;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    cursor:pointer;
    // padding: 12px 16px;
    text-decoration: none;
    
    // display: block;
  }
  
  .dropdown-content p:hover {background-color: rgb(238, 148, 148);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


.navbar{
    width:100%;
}

// .navbar:first-child{
//     width : 50%;
// }
// .navbar:last-child{
//   width : 50%;
// }




//   @media(max-width:500px){
//       .navbar:first-child{
//           width : 30%;
//       }
//       .navbar:last-child{
//         width : 70%;
//     }
//   }


//login form

.welcome{
    // background-color: white;
    // max-width:400px;
    // margin: 0 auto;
    height:100vh;
    display: flex;
    color: rgb(235, 215, 38);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    // background-image: url("Img/shop.jpg");
    // object-fit: fill;

}

.enter{
    margin-left:20;
    align-items: center;
}
